:root {
    --primary: #500095;
    --secondary: #E15419
}

body {
    overflow-x: hidden;
    position: relative;
    min-height: 93vh
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif
}

a {
    color: inherit;
    transition: .3s
}

a:hover {
    color: var(--secondary)
}

p {
    margin: .2rem 0
}

iframe {
    width: 100%;
    height: 200px
}

ul.alpha, ul.numeric {
    list-style: lower-alpha;
    padding-left: 1rem
}

ul.numeric {
    list-style: decimal
}

ul.tick {
    list-style: none;
    padding-left: 0;
    text-align: left
}

ul.tick li {
    padding: .5rem 0
}

ul.tick li:before {
    content: '✓'
}

.fa-times:hover, a:hover {
    cursor: pointer
}

.badge-secondary {
    background: #ebebeb;
    color: gray;
    font-weight: 400
}

.btn {
    padding: .25rem 1rem;
    border-radius: 20px;
    border: 2px solid
}

.btn:focus, button:focus {
    outline: 0
}

.purple {
    color: var(--primary) !important
}

.orange {
    color: var(--secondary) !important
}

.coloured-card .card {
    padding: 2rem .5rem
}

.coloured-card .card, .purple-bg {
    background: var(--primary);
    color: #fff
}

.navbar a:hover {
    color: var(--secondary)
}

.btn-orange, .btn-orange-alt {
    border-color: var(--secondary)
}

.btn-orange {
    background: var(--secondary);
    color: #fff
}

.btn-orange-alt {
    background: 0 0;
    color: var(--secondary)
}

.btn-orange-alt:hover, .btn-orange:hover {
    border-color: #b84514;
    background: #b84514;
    color: #fff
}

.btn-orange-alt:focus, .btn-orange:focus {
    border-color: #ed895e;
    background: #ed895e
}

.btn-purple {
    background: var(--primary);
    border-color: var(--primary);
    color: #fff
}

.btn-purple:hover {
    background: #2c0152;
    border-color: #2c0152;
    color: #fff
}

.btn-purple:focus {
    background: #7a05e2;
    border-color: #7a05e2
}

.btn-white {
    background: 0 0;
    color: #fff;
    border-color: #fff
}

.btn-white:hover {
    background: #fff;
    color: var(--secondary)
}

.badge-orange {
    background: var(--secondary);
    color: #fff
}

.badge-purple {
    background: var(--primary);
    color: #fff
}

.custom-select, .form-control, .selectpicker {
    border-radius: 20px
}

.custom-select:focus, .form-control:focus, .bootstrap-select:focus {
    border-color: #8c8c8c;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(140, 140, 140, .25);
    border-radius: 20px;
}

.btn-light {
    background: white;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .btn {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #495057; */
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
}

input[type=file] {
    width: 100%
}

.slick-next .fas, .slick-prev .fas {
    background: #fff;
    color: var(--primary);
    font-size: 1rem;
    padding: .5rem;
    box-shadow: 0 0 5px 2px rgba(193, 193, 193, .5);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    z-index: 1001;
    transform: translateY(-50%)
}

.slick-prev .fas {
    left: -5px
}

.slick-next .fas {
    right: -5px
}

.slick-dots {
    bottom: -35px
}

.slick-dots li button {
    background: 0 0;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    border: 2px solid var(--primary)
}

.slick-dots li.slick-active button {
    background: var(--primary)
}

.prompts {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1001
}

.invite, .navbar {
    background: var(--primary);
    color: #fff
}

.invite {
    border-radius: 4rem;
    padding: .7rem .85rem;
    border: 0;
    font-size: 1.2rem;
    transition: box-shadow .3s
}

.invite:hover {
    box-shadow: 0 0 10px 2px rgba(80, 0, 149, .3)
}

span[class*=remove]:hover {
    cursor: pointer;
    text-decoration: underline
}

img.avatar-small {
    width: 100%;
    border-radius: 50%
}

.navbar {
    font-size: 1rem;
    padding: 0;
    align-items: center
}

.navbar-brand img {
    height: 70px;
    transition: height .5s
}

.scrolled .navbar-brand img {
    height: 50px
}

.nav-item {
    margin: .5rem .2rem
}

img.profile-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%
}

.blogs h2, .navbar-toggler {
    color: #fff
}

.navbar-nav {
    align-items: center
}

.navbar-nav .nav-link {
    border-bottom: 1px solid transparent;
    border-radius: 20px
}

.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link:hover {
    border-radius: 20px;
    background: #fff
}

.navbar-nav .nav-link.active {
    border-radius: 0;
    border-bottom-color: #fff
}

.dropdown-menu {
    border-radius: 0
}

.dropdown-item {
    font-size: 1rem
}

.nav-link:hover .fa-search, .recents a:hover {
    color: var(--secondary)
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary)
}

.page-link {
    color: var(--primary)
}

.search-bar, .top-search, footer {
    position: relative;
    z-index: 100
}

footer {
    background-color: #f2f2f2;
    color: #737373;
    font-size: .9rem
}

footer ul.footer-menu {
    list-style: none;
    padding-left: 0
}

footer p {
    margin-bottom: 0
}

footer i {
    font-size: 1.2rem
}

.social a i {
    font-size: 1.5rem
}

.social-icons {
    height: 70%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.sign-copy {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center
}

#socialModal .fab {
    font-size: 2rem
}

button.close {
    position: absolute;
    right: -1.9rem;
    top: -1.9rem;
    background-color: var(--primary);
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    padding: .5rem .7rem;
    font-size: 1.3rem
}

.close:not(:disabled):not(.disabled):hover {
    background-color: var(--primary);
    opacity: 1;
    color: #fff;
    transform: scale(1.1);
    transition: .3s
}

main {
    padding: 4.7rem 0 0;
    min-height: 58vh
}

.sidebar {
    position: fixed;
    width: 19%;
    height: 100%;
    z-index: 0
}

#postAlt {
    display: none
}

#postJob, .landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.landing {
    height: calc(100vh);
    background: var(--primary);
    background: linear-gradient(to right, #515151, rgba(81, 81, 81, .3)), url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff
}

.landing .container {
    justify-content: flex-start;
    height: 100%
}

.landing .container .content {
    width: 50%
}

.search-bar {
    background: #ebebeb;
    padding: 3rem 0
}

.about {
    margin: 3rem 0 0
}

.about .card-body, .services>.container>.card>.card-body {
    padding: 3rem 15%
}

.statistics {
    position: relative;
    height: 190px
}

.statistics .card {
    position: absolute;
    top: -80px;
    z-index: 100;
    width: 70%;
    left: 50%;
    transform: translateX(-55%);
    background: linear-gradient(140deg, #8900ff 0, #500095 60%);
    color: #fff
}

.statistics i {
    font-size: 3rem;
    margin-bottom: .5rem
}

.service-cards .card:nth-child(odd) {
    background: var(--primary);
    color: #fff
}

.service-cards .card:hover {
    transform: scale(1.05);
    transition: .3s;
    color: var(--secondary)
}

.featured-carousel a.card:hover {
    color: inherit;
    text-decoration: none;
    transform: scale(1.05);
    transition: transform .3s
}

.featured-carousel img {
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.blogs {
    background: linear-gradient(140deg, #8900ff 0, #500095 60%)
}

.latest-blog-image {
    height: 200px
}

.main-blog-image {
    height: 350px
}

.blog-image {
    height: 180px
}

.blog-image, .latest-blog-image, .main-blog-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.main-blog-image .heading {
    color: #fff
}

.employers-carousel img {
    height: 80px;
    width: auto
}

.testimonials .card-body {
    padding: 3rem 5%
}

.get-started {
    background: linear-gradient(#500095 60%, #f2f2f2 100%);
    background: linear-gradient(to right, #500095, rgba(80, 0, 149, .3)), url(../images/connect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    color: #fff;
    padding: 5rem 0
}

#advertising, #database-search, #premium-search, #premium-services {
    padding-top: 4rem
}

.card {
    box-shadow: 0 0 5px 0 rgba(200, 200, 200, .5);
    height: auto;
    margin-bottom: 1rem
}

.card-header.cover {
    height: 170px;
    background-size: cover
}

.card-header.cover+.card-body {
    position: relative;
    top: -85px
}

.company-logo-img {
    width: auto;
    height: 100px;
}

.nav-pills {
    border: 1px solid gray;
    border-radius: 5px
}

.nav-pills .nav-link {
    border-bottom: 1px solid gray;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-pills .nav-link:last-child {
    border-bottom: 0
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: var(--primary)
}

.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #2c0152;
    border-color: #2c0152
}

.recents a {
    color: #00f
}

.recents ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0
}

.nav-tabs .nav-link.active {
    color: var(--secondary);
    border: 0;
    border-bottom: 2px solid var(--secondary)
}

.nav-tabs .nav-link {
    border-bottom: 2px solid transparent
}

.nav-tabs .nav-link:hover {
    border-color: transparent
}

.nav-tabs .nav-link.active:hover, .nav-tabs .nav-link:hover {
    color: var(--primary);
    border-bottom-color: var(--primary)
}

.nav-tabs {
    border-bottom: 0
}

.job-actions {
    text-align: right
}

.about-icons .fas, .contact .address i {
    font-size: 2rem
}

.edu {
    border-left: 4px solid #c8c8c8
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 4px solid #c8c8c8;
    border-radius: 50%;
    position: relative;
    left: -13px;
    top: 0
}

.progress {
    height: 10px
}

.top-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/bg2.webp);
    filter: grayscale(1);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 55vh;
    width: 100%
}

.company-logo-img {
    width: auto;
    height: 100px;
}

.advert-details {
    color: #fff;
    font-size: 1.1rem;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

ul.feature_list {
    padding-left: 1rem
}

main.sign-page {
    min-height: 98vh;
    display: grid;
    align-items: center
}

main.sign-page p {
    font-size: 1.2em
}

.acc-links a:hover, a .fab:hover {
    transform: scale(1.1);
    transition: .3s
}

.sign-left .fab {
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    color: #fff
}

.sign-left .fa-facebook-f {
    background: #4267b2
}

.sign-left .fa-google {
    background: #db4437
}

.sign-left .fa-twitter {
    background: #1da1f2
}

.sign-left .fa-linkedin {
    background: #0e76a8
}

.accordion .card-header {
    background: var(--primary);
    color: #fff;
    cursor: pointer
}

.team-member img {
    height: 150px;
    width: 150px;
    border-radius: 50%
}

.icon-service .icon {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 10px 15px 10px 10px;
    padding: 2rem;
    border-radius: 50%;
    border: 3px solid #595959
}

.icon-service .icon .fas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem
}

.error-page {
    background: var(--primary);
    background: linear-gradient(to right, rgba(80, 0, 149, .3), rgba(80, 0, 149, .3)), url(../images/error.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 88vh;
    color: #000
}

.error-page .content {
    width: 60%
}

.error-page h1 {
    font-size: 10rem
}

.circle-img {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.top-search {
    background: #e4e4e4;
    color: #656565
}

.top-search ul {
    padding-left: 0;
    list-style: none
}

.contact {
    background: linear-gradient(to right, #500095 48%, #8900ff 48%, #8900ff 50%, #fff 0);
    height: 88vh
}

.contact .address {
    color: #fff
}

.contact .container, .contact .row {
    height: 100%
}

@media only screen and (max-width:1024px) {
    .landing {
        background-position: right
    }

    .advert-details, .top-bg {
        height: 28vh
    }
}

@media only screen and (max-width:996px) {
    .nav-item {
        margin-top: 0;
    }

    nav.navbar {
        min-height: 50px;
        transition: height 0.2s;
    }

    nav.navbar.scrolled {
        min-height: 40px;
    }

    .navbar-nav .nav-link {
        padding: .3rem 1rem
    }

    .scrolled .navbar-brand img {
        height: 30px
    }

    nav.navbar a.navbar-brand {
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

    nav.navbar.scrolled a.navbar-brand {
        top: -2px;
    }

    .navbar:focus-within {
        background: var(--primary)
    }

    .collapse.navbar-collapse .navbar-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem
    }

    main {
        padding: 2.5rem 0 0
    }

    .job-actions {
        text-align: left
    }

    main.sign-page {
        min-height: auto;
        margin-top: 3em
    }

    .landing {
        background: linear-gradient(to right, #515151, rgba(81, 81, 81, .3)), url(../images/bg1.jpg);
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right
    }

    .statistics {
        height: 150px
    }

    .statistics .card {
        position: absolute;
        top: -80px;
        z-index: 100;
        width: 85%;
        left: 50%;
        transform: translateX(-57.5%)
    }

    .slick-prev .fas {
        left: 20px
    }

    .slick-next .fas {
        right: 20px
    }

    .featured-carousel .card-body {
        padding: 1rem
    }

    .about .card-body, .services>.container>.card>.card-body {
        padding: 3rem 10%
    }

    .contact {
        height: 70vh
    }

    .top-bg {
        height: 32vh
    }

    .advert-details {
        height: 32vh;
        padding-top: 2rem
    }

    .error-page {
        background: linear-gradient(to right, rgba(80, 0, 149, .3), rgba(80, 0, 149, .3)), url(../images/error.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        height: 50vh
    }

    .error-page .content {
        width: 50%
    }
}

@media only screen and (max-width:425px) {
    li, p {
        font-size: .9rem
    }

    main {
        overflow-x: hidden
    }

    main.sign-page {
        padding: 2rem 0
    }

    main.sign-page p {
        font-size: 1em
    }

    .collapse.navbar-collapse .navbar-nav {
        grid-template-columns: repeat(2, 1fr)
    }

    .nav-link {
        padding: 0 1rem
    }

    .navbar-brand img {
        height: 50px
    }

    .landing {
        background: linear-gradient(to right, #515151, rgba(81, 81, 81, .3)), url(../images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        height: 80vh
    }

    .landing .container .content {
        width: 100%
    }

    .statistics {
        height: 500px
    }

    .statistics .card {
        position: absolute;
        top: -75px;
        z-index: 100;
        width: 80%;
        left: 50%;
        transform: translateX(-65%)
    }

    .statistics i {
        font-size: 2rem
    }

    .contact {
        background: linear-gradient(#500095 46%, #8900ff 46%, #8900ff 48%, #fff 0);
        height: auto
    }

    .top-bg {
        height: 45vh
    }

    .advert-details {
        font-size: 1rem;
        height: 45vh
    }

    .error-page {
        background: linear-gradient(to right, rgba(80, 0, 149, .7), rgba(80, 0, 149, .7)), url(../images/error2.jpg);
        background-position: left;
        background-size: contain;
        color: #fff;
        height: 90vh
    }

    .error-page .content {
        width: 90%
    }
}

@media only screen and (min-device-width:414px) and (max-device-width:736px) and (orientation:landscape) {
    .landing {
        background: linear-gradient(to right, #515151, rgba(81, 81, 81, .3)), url(../images/bg1.jpg);
        height: 100vh !important
    }

    .landing .container .content {
        width: 80%
    }
}

@media only screen and (min-width:1500px) {
    .sidebar {
        width: 10%
    }
}